/**
 * TableActions
 */

.actionsContainer {
  display: flex;
  justify-content: space-between;
}

/**
 * Table
 */

.table {
  border: solid 1px #4f5252;
}
.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4f5252;
  height: 66px;
  padding: 0 16px;
}
.grey {
  background-color: #edf0f0;
}
.title {
  font-size: 1.2rem;
  font-weight: bold;
}
.subtitle {
  font-size: 1rem;
  font-weight: bold;
}
.list {
  display: flex;
  gap: 2.5rem;
}
.element {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weekDay {
  font-size: 0.825rem;
}
.date {
  font-weight: bold;
}
.select {
  width: 100px;
}
.absenceSelect {
  width: 250px;
}

/**
 * ActivityAction
 */

.activityAction {
  margin: 0;
  padding: 0 16px 16px;
  color: #562ad5;
  width: fit-content;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
    filter: brightness(150%);
  }
}

/**
 * TableValidation
 */

.validationContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.holidaysDisplay {
  color: red;
  margin: 0 auto;
}
