.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 74px;
    box-shadow: 0 0 10px 0 #00000080;
}
.spacer {
    flex: 1 1 auto;
}
.img {
    margin: 0 0 0 16px;
}
.stack {
    margin: 0 16px 0 0;
    @media screen and (max-width: 1023px){
        display: none;
    }
}
